@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap');
body{
    font-family: 'Baloo Tamma 2', cursive;
    padding: 0;
    margin: 0;
}
#logo{
    height: 65px;
    width: 65px;
}
#cart{
    height: 55px;
    width: 55px;
}
.navbar-brand{
    margin-left: 8px;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 26px;
    font-weight: bold;
}
.container-fluid{
    font-size: large;
    background-color: rgba(0, 255, 255, 0.89);
    position: relative;
    bottom: 7.65px;
    height: 60px;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.form-control{
    width: 210px;
    height: 46px;
    margin-top: 4px;
    border-color: black;
    border-width: 2.1px;
    border-radius: 25px;
}
#hover:hover{
    font-size: 19.7px;
    transition: 0.2s;
}
#hover{
    font: 1em sans-serif;
}